/* header */
a {color:#000;}
fieldset {border:none;}
#main-navigation{}
#account-navigation {}
.navigation ul{padding:2px;margin:0;}
.navigation ul li{list-style:none;font-weight:bold;display:inline-block;}
.navigation ul li a{float:left;text-decoration:none;font-weight:bold;}
.navigation ul li a:hover{text-decoration:underline;}
ul.inline{padding:0;margin:0;}
ul.inline li{list-style:none;}
ul.admin-list li {list-style:none;}
ul.admin-list li a{font-size:1.2em;}
#header{border-bottom:solid 2px #333;}
#admin-account{width:100%;float:right;}
#admin-account ul{float:right;}
#admin-account ul li{margin:1px;padding:0 4px;float:left;}
/*#admin-nav li a{background-repeat:no-repeat;height:20px;margin:0 4px;padding-top:35px;text-align:center;width:40px;}*/
#admin-nav li a{margin:0 12px 0 0;}
#sub-header{width:100%;float:left;}
/* dashboard widgets */
.dashboard-widget{padding:5px;}
.dashboard-widget h2{font-size:12px;border-bottom:solid 1px #555;}
/* themes */
#current-theme{clear:both;float:left;width:100%;}
.theme-block{width:250px;height:300px;float:left;clear:none;margin:10px;}
/* errors, message */
.notify-box{font-size:1.2em;color:#555;width:100%}
.error,.notice,.success {margin:0;}
#errorExplanation #field-errors{margin:0;padding:0.4em 1.5em;width:96%;border:2px solid #ddd;background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
#admin-messages{display:none;}
/* ui elements */
#ui-datepicker-div{z-index:2005;}
/* tables */
.adminTable{margin:5px 0 0 0;padding:0 0 40px 0px;width:980px;}
.adminTable a{color:#000;text-decoration:none;font-weight:bold;}
.adminTable a:hover{;text-decoration:underline;}
.adminTable tr{background-color:#fff;}
.adminTable table{border:2px solid #c4ad63;}
.adminTable tr td{font-size:1.1em;font-weight:bold;padding:5px;border-bottom:1px solid #eee;}
