/* header */
a {color:#000;}
fieldset {border:none;}
#main-navigation{}
#account-navigation {}
.navigation ul{padding:2px;margin:0;}
.navigation ul li{list-style:none;font-weight:bold;display:inline-block;}
.navigation ul li a{float:left;text-decoration:none;font-weight:bold;}
.navigation ul li a:hover{text-decoration:underline;}
ul.inline{padding:0;margin:0;}
ul.inline li{list-style:none;}
ul.admin-list li {list-style:none;}
ul.admin-list li a{font-size:1.2em;}
#header{border-bottom:solid 2px #333;}
#admin-account{width:100%;float:right;}
#admin-account ul{float:right;}
#admin-account ul li{margin:1px;padding:0 4px;float:left;}
/*#admin-nav li a{background-repeat:no-repeat;height:20px;margin:0 4px;padding-top:35px;text-align:center;width:40px;}*/
#admin-nav li a{margin:0 12px 0 0;}
#sub-header{width:100%;float:left;}
/* dashboard widgets */
.dashboard-widget{padding:5px;}
.dashboard-widget h2{font-size:12px;border-bottom:solid 1px #555;}
/* themes */
#current-theme{clear:both;float:left;width:100%;}
.theme-block{width:250px;height:300px;float:left;clear:none;margin:10px;}
/* errors, message */
.notify-box{font-size:1.2em;color:#555;width:100%}
.error,.notice,.success {margin:0;}
#errorExplanation #field-errors{margin:0;padding:0.4em 1.5em;width:96%;border:2px solid #ddd;background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
#admin-messages{display:none;}
/* ui elements */
#ui-datepicker-div{z-index:2005;}
/* jquery-ui theme overrides */
.ui-widget {font-size:.8em;}
/* tables */
.adminTable{margin:5px 0 0 0;padding:0 0 40px 0px;width:980px;}
.adminTable a{color:#000;text-decoration:none;font-weight:bold;}
.adminTable a:hover{;text-decoration:underline;}
.adminTable tr{background-color:#fff;}
.adminTable table{border:2px solid #c4ad63;}
.adminTable tr td{font-size:1.1em;font-weight:bold;padding:5px;border-bottom:1px solid #eee;}
/* menu styles*/
.hidden { position:absolute; top:0; left:-9999px; width:1px; height:1px; overflow:hidden; }
.fg-button { font-size:11px; clear:left; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
a.fg-button { float:left;  }
button.fg-button { width:auto; overflow:visible; } /* removes extra button width in IE */
.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	
.fg-button.ui-state-loading .ui-icon { background: url(spinner_bar.gif) no-repeat 0 0;}
/*tabs*/
.tabs{font-size:1.2em;border-bottom:solid 2px #000;position:relative;}
.tabs ul{list-style-type:none;}
.tabs ul li{float:left;display:inline;margin-right:20px;}
.tabs ul li a{color:#000;text-decoration:none;}
.tabs ul li a:hover{color:#333;}
.tabs ul li a.active{background-position:0 bottom;color:#fff;}
.tabs ul li a.active span{background-position:right bottom;}