<p id="logo">
  <a href="/admin" class="site_logo">
    <img src="/images/" alt="Logo" title="Return to home page" />
  </a>
</p>
<div id="main-navigation">
  <ul id="admin-nav">
    <%= render :partial => 'layouts/admin/header_nav_item', :collection => MuckEngine.muck_admin_nav_items %>
  </ul>
</div>