<li class="item first" id="<%=header_nav_item.name.parameterize%>">
  <a href="<%=header_nav_item.path %>" class="main">
    <span class="outer"><span class="inner" style="background-image: url('<%=header_nav_item.image%>')"><%= header_nav_item.name %></span></span>
  </a>
</li>